$dark: #111116; $light: #2d2d3a; $lighter: #47475c; $blue: #118ab2; $green: #06d6a0; $yellow: #ffd166;
$red: #ef476f; $orange: #ff9b54; $white: #fdfcdc; $black: #0a0908; $purple: #7b2cbf; $frame: #25252f;  

body{
  margin: 0;
}